{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "demo": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "build": {
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
